{{#each things}}
  <div class="tileContent">
  	<div class="imgDiv">
  		<img src="{{picture}}" class="realImage">
  	</div>
  	<div class="textDiv">
  		<p class="dealBreakerOverlay {{undo}}">Dealbreaker!</p>
  	</div>
    <button class="dealBreakerBtn {{dbButton}}" id='{{@key}}''>Dealbreaker</button>
    <button class="undoBtn {{undo}}" id='{{@key}}''>Undo</button>
  </div>
{{/each}}